.swapper{
    width: 100%;
    overflow: hidden;

    .swapper-list {

        width: 3.75rem;
        height: 1.75rem;
        position: relative;

        .end-transtion {
            transition: all linear .3s;
        }

        // .test {
        //     background: blue !important;
        // }

        .swapper-content {
            // float: left;
            position: absolute;
            width: 3.75rem;
            height: 1.75rem;
            // background: red;
            // position: relative;
            // left: -10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;


            .swapper-item {
                width: 20%;
                height: 45%;
                // background: gray;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                font-size: .12rem;
                color: #666;

                img {
                    width: .45rem;
                    height: .45rem;
                }
            }
        }
    }

    .swapper-tip{
        height: .1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &-item{
            width: .09rem;
            height: .02rem;
            margin: 0 .01rem;
            background: #000;
            opacity: .2;
        }
        &-active{
            background: #fe7100;
        }
    }
}