.swapper{
    width: 100%;
    overflow: hidden;

    .swapper-list {
        // display: flex;
        // justify-content: flex-start;
        width: 7.5rem;
        height: 2rem;
        position: relative;

        // .first-container {
        //     transform: translateX(-10%);
        // }

        // .second-container {
        //     transform: translateX(-10%);
        // }
        .end-transtion {
            transition: all linear .3s;
        }

        .test {
            background: blue !important;
        }

        .swapper-content {
            // float: left;
            position: absolute;
            width: 3.75rem;
            height: 1.75rem;
            background: red;
            // position: relative;
            // left: -10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;


            .swapper-item {
                width: 20%;
                height: 45%;
                // background: gray;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                font-size: .12rem;
                color: #666;

                img {
                    width: .45rem;
                    height: .45rem;
                }
            }
        }
    }
}